<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Local storage 1.0</title>
    <script>
    function save() {
      document.cookie = "superSecretSession=" + $("input#username").val() + ";path=/";
      localStorage.setItem('data', $("#data").val());
      $("#message").html("Saved data! Refresh page to see it").removeClass().addClass("alert alert-success");
    }
    function readAndShow() {
      //$("#stored").html(localStorage.getItem('data'));
      $("#message").html(localStorage.getItem('data')).removeClass().addClass("alert alert-warning");
    }

    </script>
  </head>
  <body>
    <div class="container-fluid">
      <h2>Webapp</h2>
      <div id="message"></div>
      <div id="container">
        <div>
          Some data to store: <textarea id="data" rows="10" cols="100"></textarea>
          <button onclick="save()">Save to local storage</button>
        </div>
        <div id="stored">

        </div>
      </div>
    </div>
  </body>
  <script>
    readAndShow();
  </script>
</html>
