<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/front.js" mode="origin"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Successful theft - allow origin</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Womens Health Blog</h1>
        <p>Everything you need to know about your cycle and your health.</p>
      </div>
      <div id="messagediv"></div>
      <div>
        <h2>Natural is a new and groundbreaking pregnancy planning app!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum est eget rhoncus pellentesque. Curabitur porttitor molestie arcu, vitae gravida eros iaculis ac. Nam bibendum vehicula mattis. Integer semper metus sed erat feugiat maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque ac diam in arcu luctus faucibus at eu nulla. Morbi ut felis non ligula semper porttitor. Curabitur elementum magna sed viverra consectetur. Suspendisse tincidunt lectus vitae dolor bibendum semper.</p>
      </div>
      <div>
        <h2>Getting to know your cycle - Deep dive</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum est eget rhoncus pellentesque. Curabitur porttitor molestie arcu, vitae gravida eros iaculis ac. Nam bibendum vehicula mattis. Integer semper metus sed erat feugiat maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque ac diam in arcu luctus faucibus at eu nulla. Morbi ut felis non ligula semper porttitor. Curabitur elementum magna sed viverra consectetur. Suspendisse tincidunt lectus vitae dolor bibendum semper.</p>
      </div>
    </div>
  </body>
</html>
